.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(192, 45, 26);
    color: #fff;
  }

.Title-Subtitle {
    color: rgba(255, 255, 255, 0.75)
}

.Title a {
  display: inline-block;
  padding: 0.5em 1em;
  color: rgba(255, 255, 255, 0.835);
  font-weight: bold;
  text-decoration: none;
}

.Title .nav-link-active {
  color: #fff;
  border-bottom: 2px solid;
}

.menu-item-trigger {
  display: none
}

@media only screen and (max-width: 960px) {
  .Title-Text {
    font-size: 20px;
  }

  .Title-Subtitle {
    font-size: 20px;
  }

  .Title a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) {

  header {
    width : 100%;
  }

  .Menu {
    display: none;
  }

  .Title-Text { 
    display:block;
  }

  .Title-Text.is-open {
     display:none;
  }

  .Title-Subtitle {
    display:none;
  }

  .Menu.is-open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-item-trigger {
    display: block;
    text-align : right;
    font-size: 50px;
  }
}